.main{
    margin-left: 150px ;
    margin-right: 150px;
    height: 100%;
    background-color: rgb(224, 233, 233);
    animation: slideUp 1s ease forwards;
    height:1980px;
    

}
.main1{
    
    border:1px solid;
    align-items: center;
    background-color: rgb(9, 105, 214);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    opacity: 1;
    height: 200px;
    animation: slideUp 1s ease forwards;
    animation: slideUp 1s ease forwards;
  

}
h1{
    margin-left: 380px;
    margin-top: 40px;
}
h4{
    margin-left: 30px;
}
.main2{
    margin: 40px;
    border: 2em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding-top: 30px;
    cursor: pointer;
    /* transform: translateY(30px); */
    animation: slideUp 1s ease forwards;
    height:640px;
    
  

}
h6{
  margin-left: 225px;
  font-size: 20px;
  color: rgb(15, 81, 180);
  margin-top:0px;
  animation: slideUp 2s ease forwards;
}
p{
margin-left: 4px;
animation: slideUp 2s ease forwards;
}
span{
    color: rgb(179, 28, 28);
    font-weight: 200;
}
.class{
    border:2em;
    height:160px;
    width: 293px;
    gap: 10px;
    margin: 10px;
    background-color: rgb(211, 239, 255);
    border-radius: 10px;
    overflow: hidden;
    /* cursor: pointer; */
    font-family: Arial, Helvetica, sans-serif;
    animation: slideUp 2s ease-in-out forwards;
     /* transition: all 0.5s ease; */
     
     
            
    
    
}
/* hover effect */
.class:hover {
  transform:  scale(1.08);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(187, 228, 255);
}

.main3{
    display: flex;
    flex-wrap: wrap;

}
#id1{
    margin-left: 30px;
}
#id4{
    margin-left: 30px;
}
h5{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
pre{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(52, 129, 237);
    font-weight: 600;
}




  @keyframes slideUp {
      0% {
        opacity: 0;
        transform: translateY(30px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .button1{
        display: flex;
        justify-content: center;
        margin-left: 390px;
        margin-top: 20px;
        padding: 20px;
        font-size: 20px;
         animation: slideUp 1s ease forwards;
         cursor: pointer;
         transform: translateY(30px);
       animation: bounceIn 1.5s ease forwards, pulse 2s ease-in-out infinite 2s;
       border: 2em;
       background-color: rgb(80, 206, 52);
       border-radius: 10px;
    

    }
    .link1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    @keyframes bounceIn {
      0% {
        opacity: 0;
        transform: scale(0.5) translateY(100px);
      }
      60% {
        opacity: 1;
        transform: scale(1.2) translateY(-20px);
      }
      100% {
        transform: scale(1) translateY(0);
      }
    }

      @keyframes pulse {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
    }

    .main4{
        margin: 40px;
        background-color: white;
        border-radius: 10px;
        height:740px;
        cursor: pointer;
    }
    .box1{
        margin-left: 19px;
        background-color: blanchedalmond;
        width: 947px;
        border-radius: 10px;
        margin-top: 10px;
        height: 200px;
    }
    h3{
        margin-left: 38px;
        padding: 14px;
        text-decoration: underline;
    }
    .button2{
        background-color:rgb(68, 141, 170);
        border: 2em;
        text-decoration: none;
        border-radius: 10px;
        padding: 8px;
       margin-left: 30px;
        animation: bounceIn 1.5s ease forwards, pulse 2s ease-in-out infinite 2s;
        

    }
    .but2{
        color: white;
        text-decoration: none;
        margin-top: -6px;
        
    }
    .box2{
        margin-left: 19px;
        background-color: blanchedalmond;
        width: 947px;
        border-radius: 10px;
        margin-top: 10px;
        height: 200px;

    }

    .box3{
        margin-left: 19px;
        background-color: blanchedalmond;
        width: 947px;
        border-radius: 10px;
        margin-top: 10px;
        height: 200px;

    }
    .main6{
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
  
body {
  width: 1580px; 
  margin: 0 auto;
      }